
@{
	ViewBag.Title = "displayRoute";
}
<html>
<head>
	<link href="~/Image/StyleSheet1.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<canvas id="canvas" style="width:100%; height:100%;"></canvas>
	
	<script>
    window.onbeforeunload = function(){
        $.post("@Url.Action("CloseConnection")");
    };
    var locations =[];
        var IntervalTime = @Session["time"] * 1000
        var firstPoint = 1;
        var firstLon;
        var firstLat;
    myTimer = (function () {
        $.post("@Url.Action("ToXml")").done(function (xml) {
            var c1 = document.getElementById("canvas");
            var context1 = c1.getContext("2d");
            context1.canvas.width = window.innerWidth;
            context1.canvas.height = window.innerHeight;
            var xmldoc = $.parseXML(xml);
            $xml = $(xmldoc);
            lon = parseFloat($xml.find("lon").text());
            lat = parseFloat($xml.find("lat").text());
            drawRoute(context1, lon, lat, locations); 
        });
    });

         setInterval(myTimer, IntervalTime);
        
    myTimer();
	</script>

	</body>
	</html>