
@{
    ViewBag.Title = "Load";
}
<html>
<head>
    <link href="~/Image/StyleSheet1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <canvas id="canvas" style="width:100%; height:100%;"></canvas>
    <script>
            //switching the function when the window closes. 
            window.onbeforeunload = function(){
                $.post("@Url.Action("CloseConnection")");
            };
		    var c1 = document.getElementById("canvas");
            var context1 = c1.getContext("2d");
            var locations =[];
		    context1.canvas.width = window.innerWidth;
            context1.canvas.height = window.innerHeight;
            var IntervalTime = @Session["pace"] * 1000;
            var index = 0;
                 myTimer = (function () {
                     $.post("@Url.Action("GetFlightDataFromFile")").done(function (xml) {
                     //if the xml return empty string close the program.
                     if (xml == "") {
                        alert("done!");
                        clearInterval(interval);
                     }
                    context1.canvas.width = window.innerWidth;
                    context1.canvas.height = window.innerHeight;
                    var xmldoc = $.parseXML(xml);
                    $xml = $(xmldoc);
                    //get lon and lat from xml.
                    lon = parseFloat($xml.find("lon").text());
                    lat = parseFloat($xml.find("lat").text());
                    DrawRoute(context1, lon, lat, locations);
                    index++;
                });
            });
            var interval = setInterval(myTimer, IntervalTime);
            myTimer();
    </script>

</body>
</html>