
@{
    ViewBag.Title = "Map";
}



<html>
<head>
	<style>
		img {
			max-width: 100%;
			height: auto;
		}
	</style>

</head>
<body>

	@*<img src="~/map.PNG" />*@

	<canvas id="canvas" width="300" height="200"></canvas>

	<script>
		var c1 = document.getElementById("canvas");
		var context1 = c1.getContext("2d");
		c1.style = 
		context1.beginPath();
		context1.lineWidth = 1;
		context1.arc(100, 80, 6, 0, 2 * Math.PI);
		context1.fillStyle = 'red';
		context1.fill();
		context1.stroke();
	</script>

</body>
</html>
