
@{
    ViewBag.Title = "Map";
}



<html>
<head>
    <link href="~/Views/First/StyleSheet1.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    
	<canvas id="canvas" style=" height:100%; width:100%; position:center center;
    background:url('../../Content/map.png'); background-size:100% 100%;
    background-attachment:fixed; background-repeat:no-repeat;"></canvas>
	<script>
        var c1 = document.getElementById("canvas");
		var context1 = c1.getContext("2d");
		context1.beginPath();
		context1.lineWidth = 0.5;
		context1.arc(100, 80, 2, 0, 2 * Math.PI, true);
        context1.fillStyle = "#ff2626";
		context1.fill();
        //context1.stroke();

	</script>
</body>
</html>